.shipinxuetang{
    .shipin_top{
            width:3.75rem;
            // overflow: hidden;
            background-color: pink;
            ul{
                white-space: nowrap;
                overflow: scroll;
                li{
                    display: inline-block;
                    height: 0.55rem;
                    border-bottom: 1px solid #333;
                    line-height: 0.55rem;
                    padding: 0 0.11rem;
                    font-size: 0.1656rem;
                    color: #313131;
                    font-weight: 200;
                }
            }
            .shipin_top_big{
                position: absolute;
                background-color: #fff;
                right: 0;
                top: 0;
                width: 0.4rem;
                height: 0.55rem;
                text-align: center;
                line-height: 0.55rem;
            }
    }



    // .swiper-container {
    //     width:3.75rem;
    //     height: 2.7rem;
    //     overflow: hidden;
    //     // width: 24rem;
    //     // height: 300px;
    // } 

}

